node_modules/
census-20-to-24.json
census-20-to-24.ndjson
counties-census-color.ndjson
counties-census-color.svg
counties-census-join.ndjson
counties-geo.json
counties-geo.ndjson
output.sql
koko.db
koko-bk.db
debug.log
env.sh
*.pyc
output
*.html
*.txt
*/__pycache__/
*/.DS_Store
*/*/.DS_Store
geojson.svg
country.ndjson
country.json
scripts/python/us-counties-geojson/counties-albers-10m.json
scripts/python/us-counties-geojson/counties-albers.json
stdout.log
geojson.json
koko.db-journal
.env
yarn-error.log
yarn.lock